.hero {
  width: 100%;
  height: 700px;
  background-image:
    linear-gradient(rgba(17, 24, 39, 0.2), rgba(17, 24, 39, 0.2)),
    url('/hero-car.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 60px;
}

.heroContent {
  width: 783px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
}

.textWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
}

.title {
  max-width: 783px;
  margin: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 1.2;
  text-align: center;
  color: var(--white);
  text-wrap: balance;
}

.text {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  text-align: center;
  color: var(--white);
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  border-radius: 12px;
  /* padding: 12px 88px; */
  width: 276px;
  height: 44px;

  
  background-color: var(--button);
  color: var(--white);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  transition: background-color 200ms ease;
}

.button:hover,
.button:focus {
  background-color: var(--button-hover);
}